rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Acesso bloqueado para acessos anônimos externos.
    // Requer que o Firebase Authentication (App AuthStore via Email ou AnonymousLogin) emita a chave de autenticação para as requisições.
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
